.contact {
  position: relative;
  bottom: 3em;
  padding: 0 3em;
}

.contact hr {
  height: 0.15em;
  background-color:  #FFFFF0;
  border-left: 2em solid #352f36;
  border-bottom: 0;
  border-right: 0;
  border-top: 0;
}

.contact h5 {
  color: #ffe6e1;
}

.contact p {
  color: #FFFFF0;
}

.contact-row {
  display: flex;
  align-items: center;
}

.contact-row p {
  margin-left: 1.5em;
  word-break: break-all;
}

.contact i {
  font-size: 1.3em;
  color: #ffe6e1;
}

/* Small devices (phones, between 320px and 599px) */
@media only screen and (min-width: 320px) and (max-width: 599px) {
}

/* Medium devices (tablets, between 600px and 767px) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .contact {
    padding: 1em 0.8em;
    bottom: 0em;
  }
}

/* Large devices (desktops, between 768px and 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact {
    padding: 0 1.9em;
  }
}

/* Extra large devices (large desktops, between 992px and 1599px) */
@media only screen and (min-width: 992px) and (max-width: 1599px) {
  .contact {
    padding: 0 1.8em;
  }
}

/* Extra extra large devices (extra large desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
}
